@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Bladimir Rojas Ruiz</h1>
    <h2>Soy un programador de direfentes Teconologias</h2>

 
    <img src="~/img/usuario.png" alt="Foto Usuario">
   
    
</div>
